body {
    background-color: #7D3B88; /* Fondo morado */
    color: white; /* Texto en blanco */
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.form-group {
    margin-bottom: 20px;
}

.btn-moradito {
    background-color: #7D3B88;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
/* Cambio de color del botón al pasar el mouse sobre él */
.btn-moradito:hover {
    background-color: #6C325E;
}